
body {
  font-family: "Raleway", "Comfortaa", sans-serif;
  font-size: 1.2em;
  color: #484848;
}

em {
  font-style: normal;
  color: black;
  font-weight: 500;
}

.ui.stripe {
  padding: 15vh 0;
  align-items: center;
  min-height: 90vh;

}

h1.ui.header {
  font-size: 3rem;
  font-weight: normal;
}

h1.ui.header .sub.header {
  font-size: 2.0rem;
}

h2.ui.header {
  font-size: 2.3rem;
  font-weight:  normal;
}

h3.ui.icon.header {
  font-size: 2.2rem;
  padding-bottom: 20px;
}

h3.ui.icon.header img.ui.icon {
  max-height: 150px;
  padding-bottom: 2px;
}

.menu.hidden {
  display: none;
}

#hero {
    height: 100vh;
    background-image: url('../img/background/balance-low.jpeg');
    background-size: cover;
}

#what-we-do {
    padding-bottom: 0;
}

#motto{
  font-weight: lighter;
  font-size: 2rem;
}

#logo{
  width:80vmin;
}

#about-us{
  background-color: #b0da54; // #A9CF54;
  min-height: 100vh;
}


#fix-nav{
  background-color: rgba(248, 248, 248, 0.98)
}

#contact {
  background-color: #9a65f1; #995df9;
  color: black;
  min-height: auto;

}


@media screen and (max-width: 500px) {
  body{
    font-size: 13px;
  }

  h1.ui.header {
    font-size: 2rem;
  }

  h2.ui.header {
    font-size: 2.0rem;
  }

  h1.ui.header .sub.header {
    font-size: 1.2rem;
  }

  #logo{
    width: 100vmin;
  }

  #fix-nav {
    font-size: x-small;
  }

  #top-nav  .menu{
    font-size: x-small;
  }
}